---
export interface Props {
	title: string;
	href: string;
	body?: string;
	image?: string;
	chatLink?: string;
	chatName?: string;
	label?: string;
}

const { href, title, body, image, chatLink, chatName, label } = Astro.props as Props;
---

<div
	class="not-prose w-full max-w-sm bg-gray-50 rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
>
	<div class="flex flex-col items-center pb-10 mt-4">
		<img
			class="mb-3 w-24 h-24 rounded-full shadow-lg bg-slate-50"
			src={image}
			alt=""
		/>
		<h2 class="mb-1 font-medium text-gray-900 dark:text-white mx-4">
			{title}
		</h2>
		<span
			class="text-center text-sm md:text-lg text-gray-500 dark:text-gray-200 mx-4 h-12"
			>{body}
		</span>
		{
			chatLink ? (
				<div class="not-prose flex mt-4 space-x-3 md:mt-6">
					<a
						href={href}
						class="no-underline inline-flex items-center py-2 px-4 text-sm leading-7 font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
					>
						{label}
					</a>
					<a
						href={chatLink}
						title={chatName}
						class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-gray-900 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-70"
					>
						{chatName}
					</a>
				</div>
			) : null
		}
		{
			!chatLink ? (
				<div class="not-prose flex mt-4 w-4/5 md:mt-6">
					<a
						href={href}
						class="no-underline w-full items-center py-2 px-4 text-lg font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
					>
						{label}
					</a>
				</div>
			) : null
		}
	</div>
</div>
