---
interface Links {
   name: string;
   url: string;
}

interface File {
   name: string;
   icon?: string;
   description?: string;
   links: Array<Links>;
}

export interface Props {
   list: Array<File>;
}

const { list } = Astro.props as Props;
---

<div class="w-full not-prose">
   <div
      class="p-4 w-full bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700"
   >
      <div class="flow-root">
         <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            {
               list.map((option) => (
                  <li class="py-3 sm:py-4">
                     <div class="flex items-center space-x-4">
                        {option.icon && (
                           <div class="flex-shrink-0">
                              <img
                                 class="w-8 h-8 rounded-full"
                                 src={option.icon}
                                 alt=""
                              />
                           </div>
                        )}
                        <div class="flex-1 w-1/2">
                           <p class="sm:inline-flex text-base md:text-lg font-medium text-gray-900 truncate dark:text-white overflow-hidden whitespace-nowrap overflow-ellipsis">
                              {option.name}
                           </p>
                           {option.description && (
                              <p class="hidden text-sm text-gray-500 truncate dark:text-gray-400 lg:flex">
                                 {option.description}
                              </p>
                           )}
                        </div>
                        {option.links.length > 1 && (
                           <ul class="divide-y divide-gray-200 dark:divide-gray-700 w-fit">
                              {option.links.map((item) => (
                                 <li class="py-3 sm:py-4">
                                    <a
                                       target="_blank"
                                       href={item.url}
                                       class="flex items-center space-x-4"
                                    >
                                       <div class="flex-1">
                                          <p class="text-right text-sm font-medium text-gray-900 truncate dark:text-white">
                                             {item.name}
                                          </p>
                                       </div>
                                       <p class="hover:underline hidden md:inline-flex items-center text-sm font-semibold text-gray-900 dark:text-white">
                                          Open
                                          <svg
                                             xmlns="http://www.w3.org/2000/svg"
                                             class="h-5 w-5 ml-1"
                                             viewBox="0 0 20 20"
                                             fill="currentColor"
                                          >
                                             <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                                             <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
                                          </svg>
                                       </p>
                                    </a>
                                 </li>
                              ))}
                           </ul>
                        )}
                        {option.links.length === 1 && (
                           <a
                              target="_blank"
                              href={option.links[0].url}
                              class="hover:underline inline-flex items-center text-sm md:text-base font-semibold text-gray-900 dark:text-white"
                           >
                              Open
                              <svg
                                 xmlns="http://www.w3.org/2000/svg"
                                 class="h-5 w-5 ml-1 hidden md:block"
                                 viewBox="0 0 20 20"
                                 fill="currentColor"
                              >
                                 <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                                 <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
                              </svg>
                           </a>
                        )}
                     </div>
                  </li>
               ))
            }
         </ul>
      </div>
   </div>
</div>
