---
import Layout from "../layouts/Base.astro";
import Photo from "../components/Photo.astro";
import mediaPhotos from "../data/photos.json";
import mediaLinks from "../data/links.json";
import LinkList from "../components/LinkList.astro";
---

<Layout title="Tech and Coffee graphics">
   <main>
      <article
         class="prose max-w-full dark:prose-invert lg:prose-xl prose-h1:text-center prose-h2:text-center prose-a:text-blue-700 hover:prose-a:text-blue-900 visited:prose-a:text-purple-800 dark:prose-a:text-blue-300 dark:hover:prose-a:text-blue-500 dark:visited:prose-a:text-purple-500 prose-blockquote:border-blue-700 dark:prose-blockquote:border-blue-500 ml-auto mr-auto"
      >
         <h1>Tech and Coffee graphics</h1>
         <section>
            <h2>Graphics library</h2>
            <div class="columns-1 md:columns-2">
               {
                  mediaPhotos.photos.map((photo) => (
                     <Photo
                        href={photo.url}
                        title={photo.title}
                        description={photo.description}
                        inverted={photo.inverted}
                        download_url={photo.download_url}
                     />
                  ))
               }
            </div>
         </section>
         <hr class="border-dashed dark:border-white my-10" />
         <section>
            <h2 class="mb-3 text-2xl font-semibold">Media links</h2>
            <div class="w-full not-prose">
            {
               <LinkList list={mediaLinks.links}></LinkList>
            }
            </div>
         </section>
      </article>
   </main>
</Layout>
